/* Ana Başlık */
.usersHeader {
  font-size: 28px;
  font-weight: 700;
  color: #f3f4f6;
  margin: 20px;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 2px solid #2d3748;
  padding-bottom: 10px;
}

/* Users Grid */
.usersWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

/* User Kartı */
.userCard {
  background: #1a1d24;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userCard:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
}

/* User Bilgileri */
.userName,
.userUsername,
.userEmail {
  margin-bottom: 8px;
}

.userName {
  font-size: 22px;
  font-weight: 700;
  color: #f3f4f6;
}

.userUsername {
  font-size: 16px;
  font-weight: 600;
  color: #60a5fa;
}

.userEmail {
  font-size: 14px;
  font-weight: 500;
  color: #f871db;
}

/* Butonlar */
.userActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}

.mainButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.noStyleLink {
  text-decoration: none;
  color: white;
  font-size: inherit;
}

@media (min-width: 1200px) {
  .userActions {
    justify-content: flex-start;
  }
}

/* UpdateUser ve CreatePost Wrapper */
.updateUserWrapper,
.createPostWrapper,
.createUserPopup {
  margin-top: 12px;
}

/* Butonlar */
/* Delete / Edit / Create Post Buttons */
.editButton,
.deleteButton,
.createPostButton,
.createUserButton,
.navigateButton {
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.navigateButtons {
  margin-right: 20px;
}

.createUserButton {
  margin-left: 20px;
}

.editButton span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #28aa11;
  border-radius: 50%;
  transition: 0.6s ease;
}

.deleteButton span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #ed0c0c;
  border-radius: 50%;
  transition: 0.6s ease;
}

.createPostButton span:not(:nth-child(6)),
.createUserButton span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.navigateButton span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #66a6ff;
  border-radius: 50%;
  transition: 0.6s ease;
}

.editButton span:nth-child(6),
.deleteButton span:nth-child(6),
.createPostButton span:nth-child(6),
.createUserButton span:nth-child(6),
.navigateButton span:nth-child(6) {
  position: relative;
}

.editButton span:nth-child(1),
.deleteButton span:nth-child(1),
.createPostButton span:nth-child(1),
.createUserButton span:nth-child(1),
.navigateButton span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.editButton span:nth-child(2),
.deleteButton span:nth-child(2),
.createPostButton span:nth-child(2),
.createUserButton span:nth-child(2),
.navigateButton span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.editButton span:nth-child(3),
.deleteButton span:nth-child(3),
.createPostButton span:nth-child(3),
.createUserButton span:nth-child(3),
.navigateButton span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.editButton span:nth-child(4),
.deleteButton span:nth-child(4),
.createPostButton span:nth-child(4),
.createUserButton span:nth-child(4),
.navigateButton span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.editButton span:nth-child(5),
.deleteButton span:nth-child(5),
.createPostButton span:nth-child(5),
.createUserButton span:nth-child(5),
.navigateButton span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.editButton:hover span:not(:nth-child(6)),
.deleteButton:hover span:not(:nth-child(6)),
.createPostButton:hover span:not(:nth-child(6)),
.createUserButton:hover span:not(:nth-child(6)),
.navigateButton:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
