.postsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.postsHeader {
  color: #0c66ed;
}

.mainAreaContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .mainAreaContainer {
    flex-direction: column;
  }
}

.postCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
  height: 200px;
  background-color: #1a1d24;
  border-radius: 16px;
  padding: 20px;
  margin-top: 20px;
}

.postCard:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
}

/* Delete - Update Buttons*/
/* https://uiverse.io/KINGFRESS/purple-kangaroo-17 */

.navigateButton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
}

.navigateButton span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.navigateButton span:nth-child(6) {
  position: relative;
}

.navigateButton span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.navigateButton span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.navigateButton span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.navigateButton span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.navigateButton span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.navigateButton:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
